@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: Inter, sans-serif;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
}

a {
    padding-bottom: 10px;
}